<div class="faq">

    <div class="faq__header">
        <form class="faq__form" action="#">
            <label for="" class="faq__form-label">
                <div class="faq__form-title">Tire suas dúvidas sobre a Banana Foto</div>
                <div class="faq__form-input">
                    <input name="search" placeholder="Procure por sua dúvida" type="text">
                    <button type="submit"><span><svg class="ico z-lupa"><use  xlink:href="#z-lupa"/></svg></span></button>
                </div>
            </label>
        </form>
    </div>

    <div class="faq__menu">
        <div class="faq__container">
            <div class="faq__menu-list">
                <div class="faq__menu-item">
                    <a href="#">
                        <svg class="ico z-box"><use xlink:href="#z-box" /></svg>
                        <span>Pedido</span>
                    </a>
                </div>
                <div class="faq__menu-item">
                    <a href="#">
                        <svg class="ico z-truck"><use xlink:href="#z-truck" /></svg>
                        <span>Entrega</span>
                    </a>
                </div>
                <div class="faq__menu-item">
                    <a href="#">
                        <svg class="ico z-change"><use xlink:href="#z-change" /></svg>
                        <span>Troca e devolução</span>
                    </a>
                </div>
                <div class="faq__menu-item">
                    <a href="#">
                        <svg class="ico z-clients"><use xlink:href="#z-clients" /></svg>
                        <span>Pagamento</span>
                    </a>
                </div>
                <div class="faq__menu-item">
                    <a href="#">
                        <svg class="ico z-notebook"><use xlink:href="#z-notebook" /></svg>
                        <span>Cadastro</span>
                    </a>
                </div>
                <div class="faq__menu-item">
                    <a href="#">
                        <svg class="ico z-security"><use xlink:href="#z-security" /></svg>
                        <span>Garantia</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="faq__questions">
        <div class="faq__title-blue">Política de Vendas da <strong>Bananafoto</strong></div>
        <div class="faq__italic">
            <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>
            <p>A confidencialidade dos dados pessoais dos clientes do nosso site é importante para o <strong>Bananafoto</strong> e seguem em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
        </div>
    </div>

    <div class="faq__grids">
        <div class="faq__grid">
            <div class="faq__grid-title">O meu pedido acabou de ser realizado, como posso fazer a troca?</div>
            <div class="faq__grid-text">In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. </div>
        </div>
        <div class="faq__grid">
            <div class="faq__grid-title">O que acontece se meu produto chegar com defeito?</div>
            <div class="faq__grid-text">Vivamus sed feugiat mi. Sed non accumsan diam, id maximus sem. Nam hendrerit a erat venenatis tincidunt. Mauris bibendum turpis mauris, vitae dignissim odio posuere viverra. Donec condimentum ac ligula a imperdiet. </div>
        </div>
        <div class="faq__grid">
            <div class="faq__grid-title">Como alterar meu e-mail?</div>
            <div class="faq__grid-text">Sed quam mi, ornare nec felis sed, sagittis finibus nunc. Nulla quis nulla eu lectus imperdiet vehicula pharetra eu est. Nullam convallis, mauris egestas finibus tempus, lorem purus sodales nisl, in condimentum dui ante a urna. </div>
        </div>
        <div class="faq__grid">
            <div class="faq__grid-title">Consigo rastrear minha encomenda?</div>
            <div class="faq__grid-text">Aenean malesuada vitae nibh id lacinia. Vestibulum imperdiet viverra lobortis. Quisque placerat sapien non placerat interdum. </div>
        </div>
    </div>

    <div class="faq__questions">
        <div class="faq__title-blue">Nossa Faq</div>
        <div class="faq__normal">
            <p>Esclareça suas dúvidas ou encontre em contato.</p>
        </div>
    </div>

    <div class="faq__tabs">
        <div class="faq__tab">
            <span>Posso solicitar a entrega em outro país?</span>
            <span class="faq__ico">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
            </span>
        </div>
        <div class="faq__content">
            In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.
        </div>
        <div class="faq__tab">
            <span>Quais estados/localidades as entregas são realizadas?</span>
            <span class="faq__ico">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
            </span>
        </div>
        <div class="faq__content">
            In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.
        </div>
        <div class="faq__tab">
            <span>O que ocorre se não houver ninguém para receber minha entrega?</span>
            <span class="faq__ico">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
            </span>
        </div>
        <div class="faq__content">
            In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.
        </div>
        <div class="faq__tab">
            <span>É possível pagar uma parte no boleto e outra no cartão?</span>
            <span class="faq__ico">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
            </span>
        </div>
        <div class="faq__content">
            In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.
        </div>
        <div class="faq__tab">
            <span>É possível alterar a forma de pagamento após concluir o pedido?</span>
            <span class="faq__ico">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
            </span>
        </div>
        <div class="faq__content">
            In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.
        </div>
        <div class="faq__tab">
            <span>É possivel parcelar a compra em dois cartões?</span>
            <span class="faq__ico">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <svg class="ico z-less"><use xlink:href="#z-less" /></svg>
            </span>
        </div>
        <div class="faq__content">
            In egestas, libero vitae scelerisque tristique, turpis augue faucibus dolor, at aliquet ligula massa at justo. Donec viverra tortor quis tortor pretium, in pretium risus finibus. Integer viverra pretium auctor. Aliquam eget convallis eros, varius sagittis nulla. Suspendisse potenti. Aenean consequat ex sit amet metus ultrices tristique. Nam ac nunc augue. Suspendisse finibus in dolor eget volutpat.
        </div>
    </div>

    <div class="faq__help">
        <div class="faq__help-title">Sua dúvida não foi soclucionada?</div>
        <div class="faq__help-description">Entre em contato através do canal abaixo:</div>
        <a href="/fale-conosco-banana">Enviar Mensagem</a>
    </div>

</div>