<div class="footer__row">
    <div class="footer__container">
        <h3 class="footer__logo">
            <img src="@img(logo-footer)" alt="Banana Foto" />
        </h3>
        <div class="footer__socials">
            {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="socials" redes="all"}}
        </div>
        <div class="footer__menu-institucional">
            {{widget type="menubuilder/output" id="8" template="menubuilder/output.phtml"}}
        </div>
    </div>
</div>

<div class="footer__row footer__row--about">
    <div class="footer__container">
        <div class="footer__about">
            <p>
                Bananafoto - A <strong>loja de fotografia online</strong> mais completa e legal da internet.<br /> 
                A bananafoto é um site de fotografia para quem é apaixonado em <strong>câmera profissional</strong> e na arte de eternizar momentos através de câmeras profissionais e lentes. Desde 2008 no mercado, temos uma forma única de nos comunicar com os fotógrafos e amantes da fotografia. Sempre auxiliando nossos clientes e amigos desde iniciantes na fotografia que buscam por exemplo, ajuda para escolher lentes para fotografar eventos ou kits para produzir vídeos no Youtube ou ainda, profissionais procurando renovar ou ampliar seus equipamentos fotográficos. E mais, temos o orgulho de dizer que somos a única empresa de fotografia atualmente em que você além de pedir informação sobre fotografia, pode chamar nossa central de atendimento no Whatsapp pedindo uma receita de bolo e nós encontramos para você a melhor opção. Só precisa nos convidar depois pra provar o bolo (rs).
            </p>

            <p>As melhores marcas - Sony, Canon, Nikon, Apple, Yongnuo, e muito mais reunidas em uma único site de fotografia amado pelo seus clientes pela nossa filosofia que nos leva além de vender máquinas fotográficas ou de sermos apenas mais uma loja Canon ou mesmo uma revenda Sony. Somos uma empresa de apaixonados por fotografia que por acaso, também vende equipamentos fotográficos, gostamos de pensar que nossa missão é “promover a arte de registrar os momentos impactante da sua vida atravez das lentes”. Somos diferentes!  Somos um grupo de apaixonados pela arte de registrar momentos que surgiu de uma comunidade online, virou o primeiro site de compras coletivas de fotografia no Brasil e hoje é uma loja de fotografia online mais do que especializada na venda de câmeras profissionais, acessórios e equipamentos fotográficos em geral. Assim se define nosso slogan – “Yes! We love Photography”.</p>
        </div>
    </div>
</div>

<div class="footer__payments-security">
    <div class="footer__container">
        <div class="footer__payments">
            <h3 class="footer__title">Formas de Pagamento</h3>
            {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payments" pagtos="all"}}
        </div>
        <div class="footer__security">
            <h3 class="footer__title">Certificados</h3>
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="security" seals="all"}}
        </div>
    </div>
</div>

<div class="footer__copyright">
    <div class="footer__container">
        <p>©Bananafoto - Todos os direitos reservados</p>
        <p>Ofertas válidas enquanto durarem nossos estoques | Vendas sujeitas à análise e confirmação de dados pela empresa.</p>
        <p>Os preços promocionais e condições de pagamento são válidos exclusivamente para compras efetuadas em nossa loja virtual e estão sujeitas a alteração ou encerramento da promoção sem aviso prévio.</p>

        {{widget type="menubuilder/output" id="9" template="menubuilder/output.phtml"}}
    </div>
</div>

<div class="footer__premium">
    <a href="#"><img src="@img(banana-midia)" alt=""><img src="@img(banana-midia-mobile)" alt=""></a>
    <a href="#"><img src="@img(terra)" alt=""></a>
    <a href="#"><img src="@img(mkt)" alt=""></a>
    <a href="#"><img src="@img(info-money)" alt=""></a>
</div>

<a href="#go-to-top" class="go-to-top">
<svg class="ico z-next"><use xlink:href="#z-next" /></svg>
</a>