

<div class="footer__payments-security">
    <div class="footer__container">
        <div class="footer__payments">
            <h3 class="footer__title">Formas de Pagamento</h3>
            {{widget type="interface/widget_pagtos" template="interface/widgets/pagtos.phtml" identificador="payments" pagtos="all"}}
        </div>
        <div class="footer__security">
            <h3 class="footer__title">Certificados</h3>
            {{widget type="interface/widget_seals" template="interface/widgets/seals.phtml" identificador="security" seals="all"}}
        </div>
    </div>
</div>

<div class="footer__copyright">
    <div class="footer__container">
        <p>©Bananafoto - Todos os direitos reservados</p>
        <p>Ofertas válidas enquanto durarem nossos estoques | Vendas sujeitas à análise e confirmação de dados pela empresa.</p>
        <p>Os preços promocionais e condições de pagamento são válidos exclusivamente para compras efetuadas em nossa loja virtual e estão sujeitas a alteração ou encerramento da promoção sem aviso prévio.</p>
    </div>
</div>
