<div class="showbreadcrumb">
    <div class="showbreadcrumb__item">
        <a href="#">Lentes Objetivas</a>
    </div>
    <div class="showbreadcrumb__sep">
        <svg class="ico z-last"><use xlink:href="#z-last" /></svg>
    </div>
    <div class="showbreadcrumb__item">
        compre sua lente Canon, Nikon, Sony, Yongnuou, Sigma em até 12x sem juros
    </div>
</div>
                                                
<div class="showcase-tabs">
    <div class="showcase-tabs__header">
        <a class="actived" href="#tab1">Destaques</a>
        <a href="#tab2">Zoom Grande-Angular</a>
        <a href="#tab3">Zoom Padrão</a>
        <a href="#tab4">Padrão</a>
        <a href="#tab5">Meia-Tele</a>
        <a href="#tab6">Zoom</a>
        <a href="#tab7">Telefoto</a>
        <a href="#tab8">Macro</a>
    </div>

    <div class="showcase-tabs__main">
        <div class="tab1 actived">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-1" carrossel="1" categoria="371" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab2">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-2" carrossel="1" categoria="380" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab3">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-3" carrossel="1" categoria="405" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab4">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-4" carrossel="1" categoria="405" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab5">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-5" carrossel="1" categoria="406" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab6">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-6" carrossel="1" categoria="405" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab7">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-7" carrossel="1" categoria="381" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab8">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-l-8" carrossel="1" categoria="372" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
    </div>
</div>