<div class="showbreadcrumb">
    <div class="showbreadcrumb__item">
        <a href="#">Câmeras Profissionais</a>
    </div>
    <div class="showbreadcrumb__sep">
        <svg class="ico z-last"><use xlink:href="#z-last" /></svg>
    </div>
    <div class="showbreadcrumb__item">
        encontre sua câmera digital com o melhor preço e compre até 12x sem juros
    </div>
</div>

<div class="showcase-tabs">
    <div class="showcase-tabs__header">
        <a class="actived" href="#tab1">Destaques</a>
        <a href="#tab2">Canon</a>
        <a href="#tab3">Nikon</a>
        <a href="#tab4">Sony</a>
        <a href="#tab5">Fujifilm</a>
    </div>

    <div class="showcase-tabs__main">
        <div class="tab1 actived">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-c-1" carrossel="1" categoria="47" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab2">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-c-2" carrossel="1" categoria="460" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab3">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-c-3" carrossel="1" categoria="461" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab4">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-c-4" carrossel="1" categoria="462" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab5">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-c-5" carrossel="1" categoria="463" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco(avista) @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
    </div>
</div>