<div class="banana">
    <div class="banana__container">
        <div class="banana__header">
            <div class="banana__title">
                <svg class="ico z-banana"><use xlink:href="#z-banana"/></svg>
                <span>Preço de Banana</span>
            </div>
            <div class="banana__descriptions">
                <p>Os melhores preços da internet em promoções com tempo super limitado</p>
                <p>Tudo em cine e foto: <strong>Drones Dji, câmeras digitais, estúdios fotográficos, Apple, lentes objetivas.</strong></p>
            </div>
        </div>
        <div class="banana__main">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-banana" carrossel="1" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a></h2><div class='products__main'><div class='products__sku'>@atributo(sku)</div><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel)@preco@else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__review'>@avaliacoes</div><div class='products__actions'>@bt(comprar 'Descobrir oferta')</div></div>"}}
        </div>
        <div class="banana__footer">
            <a class="banana__more" href="/super-oferta">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <span>Ver mais promoções</span>
            </a>
        </div>
    </div>
</div>