<div class="showcategories">
    <div class="showcategories__container">
        <div class="showcategories__header">
            <h3 class="showcategories__title">
                Yes! <strong>
                    We
                    <svg class="ico z-heart">
                        <use xlink:href="#z-heart" />
                    </svg>
                    Photography
                </strong>
            </h3>
            <div class="showcategories__descriptions">
A sua <strong>loja de fotográfia online</strong> <span class="yellow">+Premiada</span>! encontre aqui tudo em câmeras profissionais e equipamentos fotográficos
            </div>
        </div>
        <div class="showcategories__main">
            <div class="showcategories__label">
                <span>Procurando por</span>
                <strong>Equipamentos fotográficos?</strong>
                <small>Você econtra tudo aqui.</small>
            </div>
            <div class="showcategories__list">
                {{widget type="interface/widget_menu" template="interface/widgets/menu.phtml" identificador="menushowcategories" exibicao="normal" exibir_todos_departamentos="1" texto_todos_departamentos="<a href='#'><svg class='ico z-more'><use xlink:href='#z-more' /></svg>
<span>Ver mais</span></a>" niveis="1" ocultar_categorias="66,87,105,132,140,141,321,395,410,420,437,117"}}
            </div>
        </div>
    </div>
</div>