<div class="showcategories">
    <div class="showcategories__container">
        <div class="showcategories__header">
            <h3 class="showcategories__title">
                Yes! <strong>
                    We
                    <svg class="ico z-heart">
                        <use xlink:href="#z-heart" />
                    </svg>
                    Photography
                </strong>
            </h3>
            <div class="showcategories__descriptions">
                A sua loja de fotográfia online com tudo em câmeras profissionais e equipamentos fotográficos
            </div>
        </div>
        <div class="showcategories__main">
            <div class="showcategories__label">
                <span>Procurando por</span>
                <strong>Equipamentos fotográficos?</strong>
                <small>Você econtra tudo aqui.</small>
            </div>
            <div class="showcategories__list">
                {{widget type="interface/widget_menu" template="interface/widgets/menu.phtml" identificador="menushowcategories" exibicao="normal" exibir_todos_departamentos="1" texto_todos_departamentos="<a href='#'><svg class='ico z-more'><use xlink:href='#z-more' /></svg>
<span>Ver mais</span></a>" ajustar_largura="1" niveis="1"}}
            </div>
        </div>
    </div>
</div>