<div class="ruler">
    <svg class="ico z-premium">
        <use xlink:href="#z-premium" />
    </svg>
    <div class="ruler__text">
        <strong>Desde 2010</strong>
        <span>no mercado fotográfico</span>
    </div>
</div>

<div class="ruler">
    <svg class="ico z-clients">
        <use xlink:href="#z-clients" />
    </svg>
    <div class="ruler__text">
        <strong>+ de 190.000</strong>
        <span>Clientes atendidos</span>
    </div>
</div>

<div class="ruler">
    <svg class="ico z-ok">
        <use xlink:href="#z-ok" />
    </svg>
    <div class="ruler_text">
        <strong>+ de 500 Mil</strong>
        <span>Seguidores no Facebook</span>
    </div>
</div>

<div class="ruler">
    <svg class="ico z-photo">
        <use xlink:href="#z-photo" />
    </svg>
    <div class="ruler_text">
        <strong>Premiada pela Cannon</strong>
        <span>por inovação e criatividade</span>
    </div>
</div>