<div class="showcase-super-kit">
    <div class="showcase-super-kit__container">
        <div class="showcase-super-kit__header">
            <h3 class="showcase-super-kit__title">
                <svg class="ico z-box"><use xlink:href="#z-box" /></svg>
                <span>Super Kits</span>
            </h3>
            <div class="showcase-super-kit__descriptions">Procurando um kit de forográfia completo para o seu hobbie ou trabalho?</div>
        </div>
        <div class="showcase-super-kit__main">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcasesuperkit" carrossel="1" limite="12" markup="<a href='@url' itemprop='url' title='Mais detalhes'>
@foto(260x260)
<span>@nome</span>
</a>"}}
        </div>
        <div class="showcase-super-kit__footer">
            <a class="showcase-super-kit__more" href="#">
                <svg class="ico z-more"><use xlink:href="#z-more" /></svg>
                <span>Ver todos</span>
            </a>
        </div>
    </div>
    <div class="showcase-super-kit__obs">
        Se você procura por um kit de fotografia especifico para seu hobbie ou atividade profissional e não tem ideia de quais câmeras, lentes teleobjetivas ou acessório fotográfico irá precisar? A Bananafoto desenvolveu para você vários kits para fotografar vários assuntos, como kit de câmera para fotografar pássaros, kit com lentes para fotografar o céu a noite, kit de iluminação para youtubers ou ainda kit de estúdio fotográfico e câmera digital para fazer fotos de retrato, fotografia de produtos e muito mais.
    </div>
</div>

