<div class="showbreadcrumb">
    <div class="showbreadcrumb__item">
        <a href="#">Iluminação</a>
    </div>
    <div class="showbreadcrumb__sep">
        <svg class="ico z-last"><use xlink:href="#z-last" /></svg>
    </div>
    <div class="showbreadcrumb__item">
        Qualidade em edição de fotos - Estúdio de fotográfia em até 12x sem juros
    </div>
</div>
                                        
<div class="showcase-tabs">
    <div class="showcase-tabs__header">
        <a class="actived" href="#tab1">Destaques</a>
        <a href="#tab2">Iluminação Led</a>
        <a href="#tab3">Estúdio</a>
        <a href="#tab4">Luz Contínua</a>
        <a href="#tab5">Estúdio Flash</a>
        <a href="#tab6">Softbox & Brolly box</a>
        <a href="#tab7">Rebatedores & Dufusores</a>
    </div>

    <div class="showcase-tabs__main">
        <div class="tab1 actived">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-i-1" carrossel="1" categoria="481" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab2">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-i-2" carrossel="1" categoria="481" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab3">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-i-3" carrossel="1" categoria="87" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab4">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-i-4" carrossel="1" categoria="88" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab5">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-i-5" carrossel="1" categoria="89" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab6">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-i-6" carrossel="1" categoria="90" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
        <div class="tab7">
            {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" identificador="showcase-i-7" carrossel="1" categoria="91" limite="12" markup="<h2 class='products__header'><a href='@url' itemprop='url' title='Mais detalhes' class='products__link'><span class='products__image product-image'>@foto(260x260)</span></a>@selos</h2><div class='products__main'><a href='@url' title='@nome(60)' class='products__name'>@nome</a>@if(is_disponivel) @preco @else(is_disponivel)<div class='products__out'>Produto Esgotado</div>@endif(is_disponivel)<div class='products__actions'>@bt(comprar 'Comprar')</div></div>"}}
        </div>
    </div>
</div>