<div class="menu">
    <div class="menu__container">
        <div class="menu__categories">
            <div class="menu__title">
                <svg class="ico z-menu"><use xlink:href="#z-menu" /></svg>
                <span>Departamentos</span>
            </div>
            {{widget type="interface/widget_menu" template="interface/widgets/menu.phtml" identificador="menucategories" exibicao="normal" exibir_todos_departamentos="1" texto_todos_departamentos="Menu" posicionar_automaticamente="1" ajustar_largura="1" transformar_mobile="1" breakpoint_pixels="992" exibir_produto_destaque="1" qtde_produto_destaque="1" titulo_produto_destaque="Produto Especial" niveis="3"}}
        </div>
        <div class="menu__configs">
            {{widget type="menubuilder/output" id="7" template="menubuilder/output.phtml"}}
        </div>
    </div>
</div>