/*
 * Variables
 */
:root
    --red: #cc0404
    --white: #fff
    --black: #1b1b1b
    --black-light: #737373
    --gray: #f9f9f9
    --menu-gray: #dcd9d9
    --search-placeholder: #a0a0a0
    --dots: #bcbcbc
    --gray-dark: #dddddd
    --dark: #000
    --blue: #2146e3
    --green: #06b506
    --green-dark: #0a880a
    --link: #444
    --select: #ececec
    --youtube: #cc0404
    --facebook: #3b5998
    --twitter: #00aced
    --pinterest: #cb2027
    --thumblr: #32506d
    --linkedin: #007bb5
    --instagram: #e4405f

/*
 * Global
 * Elementos globais que podem ser extendidos ao longo do documento
 */
.container
    @extend $container

input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=tel], input[type=number], input[type=date], input[type=mounth], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color]
    border: solid 1px var(--select)
    box-shadow: none

    &::placeholder
        color: var(--search-placeholder)
        font-weight: regular
        font-size: 14px

    &:focus::placeholder
        color: transparent

/*
 * Base
 * Estilo base do elementos do Html
 */
body
    font-family: font

.wrapper-container
    overflow: visible

.js-stickybit-parent
    padding-top: 140px

/*
 * Components
 * Componentes que se adaptam ao contexto
 */
/*
 * Component - Menssagens
 */
.messages
    > li
        display: block
        margin-bottom: 20px
        padding: 10px 20px
        font-size: 14px

    .success-msg
        border: 1px solid #2baf60
        background: #c8efc0
        color: #1d904b

    .error-msg
        border: 1px solid #d92100
        background: #ffdcdc
        color: #d92100

    .notice-msg
        border: 1px solid #f7be07
        background: #f9f0d5
        color: #f7be07

// Container
.header, .main-container, .footer
    @extend $container

.categories .ul--0
    max-width: viewport

.wrapper
    overflow: hidden
    width: 100%

    svg, path
        fill: currentColor

    @media (min-width: 993px)
        padding-top: 148px

    @media (max-width: 992px)
        padding-top: 80px

.yellow
    color: color2_bg
