.add-to-links
    li
        display: none

        &.link-wishlist
            position: absolute
            top: 0
            right: 60px
            display: block
            width: 48px

            .ico
                width: 23px
                height: 21px
                color: color2_bg

            a
                display: flex
                justify-content: center
                align-items: center
                padding: 0
                width: 49px
                height: 49px
                border-radius: 50%
                box-shadow: 0 0 5px rgba(0, 0, 0, .1)
