.cms-home .header-container + .banner
    margin-top: -16px

#banner__home_banner_full
    .owl-pagination
        position: absolute
        bottom: 15px
        width: 100%

    .owl-page
        span
            max-width: 8px
            width: 30px
            height: 8px
            background: var(--dots)
            transition: all .2s linear

        &.active
            opacity: 1

            span
                max-width: 30px
                border-radius: 8px
                background: color2_bg
