.breadcrumb
    @extend $container

    li
        line-height: 1

    &__home
        .breadcrumb__link:before
            display: none !important

    &__sep
        margin: 0 5px

        span
            display: none

        &:before
            content: '>'
            font-size: 12px

    &__item a, &__last
        color: #a3a3a3
        font-weight: regular
        font-size: 12px

        span, a
            display: inline
            line-height: 1

    &__last
        color: var(--black)
        position: relative
        top: -1px

    &__home
        .breadcrumb__link:before
            display: flex
            justify-content: center
            align-items: center
            margin-right: 4px
            color: #707070
            line-height: 1