#catalog-categories
    padding: 20px 0
    background: #e5e5e5

    .owl
        &-wrapper-outer
            margin: -10px 0
            padding: 10px 0

        &-prev, &-next
            &:hover
                background: none

    .ul--0
        padding: 0 40px

    .li--0
        padding: 5px
        width: 100%

    .a--0
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        padding: 15px
        min-height: 140px
        width: 100%
        height: auto
        border-radius: 4px
        background: #fff
        color: var(--black-light)
        font-size: 13px

        img
            margin-right: 0

        span
            display: block
            flex: 0

    @media (min-width: 993px)
        .a--0
            &:hover
                box-shadow: 0 0 0 2px color2_bg, 0 5px 0 color2_bg
