.catalog-description
    text-align: center
    padding-bottom: 10px

    &__title
        color: var(--blue)
        font-size: 22px
        font-weight: bold
        padding: 20px 0

    &__text
        &, p
            font-size: 14px
            font-weight: regular
            font-style: italic
            color: var(--black-light)

            strong
                color: var(--black)
                font-weight: regular