.catalog-description
    padding-bottom: 10px
    text-align: center

    &__title
        padding: 20px 0 0
        color: var(--blue)
        font-weight: semibold
        font-size: 26px

    &__text
        &, p
            color: var(--black-light)
            font-weight: 300
            font-size: 15px
            line-height: 1.6

            strong
                color: var(--black)
                font-weight: regular