.catalog-description
    padding-bottom: 10px
    text-align: center

    &__title
        padding: 20px 0
        color: var(--blue)
        font-weight: bold
        font-size: 22px

    &__text
        &, p
            color: var(--black-light)
            font-weight: regular
            font-style: italic
            font-size: 14px

            strong
                color: var(--black)
                font-weight: regular