.footer
    margin-top: 60px

    &-container
        position: static

    &__logo
        text-align: center

        img
            width: 203px

    .flex--a-center
        justify-content: center

    .socials
        margin: 20px 0

        .flex > *
            padding: 0 5px 10px

        img, svg
            width: 25px
            height: 25px

        img
            object-fit: contain

        &__list
            justify-content: center

        &__link
            display: flex
            justify-content: center
            align-items: center
            width: 50px
            height: 50px
            border: solid 2px #f1f0f2
            border-radius: 50%

        li[class*=facebook] a:hover
            background: var(--facebook)

            svg, img
                filter: brightness(0) invert(1)

        li[class*=twitter] a:hover
            background: var(--twitter)

            svg, img
                filter: brightness(0) invert(1)

        li[class*=insta] a:hover
            background: var(--instagram)

            svg, img
                filter: brightness(0) invert(1)

        li[class*=youtube] a:hover
            background: var(--youtube)

            svg, img
                filter: brightness(0) invert(1)

        li[class*=linkedin] a:hover
            background: var(--linkedin)

            svg, img
                filter: brightness(0) invert(1)

        li[class*=blog] a:hover
            background: color2_bg

            svg, img
                filter: brightness(0) invert(1)

    .mymenu
        .ul--0
            display: flex
            flex-flow: row wrap
            justify-content: center

        .li--0
            &:not(:last-child)
                margin-bottom: 0

        .a--0
            line-height: 14px

    &__menu-institucional
        .mymenu
            .li--0
                display: flex
                align-items: center

                + .li--0
                    &:before
                        display: inline-block
                        width: 1px
                        height: 14px
                        background: var(--blue)
                        content: ''

            .a--0
                padding: 5px 15px
                color: var(--blue)
                font-weight: regular
                font-size: 14px

                &:hover
                    color: color2_bg

    &__row
        &--about
            position: relative
            left: 50%
            margin-top: 30px
            width: 100vw
            border-top: solid 1px #eeeeee
            color: #7f7f7f
            font-size: 14px
            transform: translateX(-50%)

            strong
                color: var(--black)
                font-weight: regular

            p
                line-height: 1.5

                + p
                    margin-top: 15px

            .footer__container
                margin: 0 auto
                padding: 40px 0
                max-width: calc(100% - 32px)
                width: viewport

    &__title
        padding: 20px 0
        color: #666666
        text-align: center
        font-weight: regular
        font-size: 16px

    &__payments-security
        padding-bottom: 20px
        background: var(--gray)

    &__copyright
        padding: 10px 0 20px
        color: #7f7f7f
        text-align: center
        font-weight: regular
        font-size: 12px

        p:first-child
            color: var(--black)

        .mymenu
            margin-top: 20px

            .li--0
                display: flex
                align-items: center

                + .li--0
                    &:before
                        display: inline-block
                        width: 1px
                        height: 14px
                        background: var(--black)
                        content: ''

            .a--0
                padding: 5px 15px
                color: var(--black)
                font-weight: regular
                font-size: 14px

                &:hover
                    text-decoration: underline

    &__premium
        display: flex
        flex-flow: row wrap
        justify-content: center
        background: #992806

        a
            display: flex
            justify-content: center
            align-items: center
            padding: 0 15px
            height: 95px
            border: 0

        [src*=mobile]
            display: none

    .pays__img
        height: 50px

    @media (max-width: 992px)
        .socials__link
            width: 40px
            height: 40px

            svg, img
                width: 20px
                height: 20px

        &__payments-security
            box-shadow: 200px 0 0 var(--gray), -200px 0 0 var(--gray)

        &__premium
            box-shadow: 200px 0 0 #992806, -200px 0 0 #992806

    @media (min-width: 993px)
        &__premium
            box-shadow: 800px 0 0 #992806, -800px 0 0 #992806

            a
                padding: 0 50px

                &:hover
                    background: rgba(255, 255, 255, .06)

        &__payments-security
            box-shadow: 800px 0 0 var(--gray), -800px 0 0 var(--gray)

            .footer__container
                display: flex
                justify-content: space-between
                align-items: flex-start

    @media (max-width: 500px)
        &__premium
            a
                flex: 0 0 50%

                &:nth-child(2), &:nth-child(3)
                    background: rgba(255, 255, 255, .06)

                &:nth-child(2)
                    box-shadow: 100px 0 0 rgba(255, 255, 255, .06)

                &:nth-child(3)
                    box-shadow: -100px 0 0 rgba(255, 255, 255, .06)

            [src*=mobile]
                display: block

            [src*='banana-midia.png']
                display: none
