.jointsales
    --color: #444444

    .owl-wrapper-outer
        border: 0

    .old-price
        display: none

    .title--sm
        color: var(--color)
        font-size: 13px

    .more
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        color: var(--black)
        transform: none

        &:before
            min-width: 36px
            height: 36px
            border: solid 1px #eaeaea
            border-radius: 50%
            background: #fff
            content: '+'
            font-size: 24px
            line-height: 1

    &__currentin
        border-bottom: solid 1px #eaeaea
        box-shadow: none
        text-align: center

    &__item
        + .jointsales__item
            position: relative

            &:before
                position: absolute
                top: -20px
                left: 50%
                display: flex
                justify-content: center
                align-items: center
                margin-left: -18px
                min-width: 36px
                height: 36px
                border: solid 1px #eaeaea
                border-radius: 50%
                background: #fff
                content: '+'
                font-size: 24px
                line-height: 1

    &__currentin, &__item
        .thumb
            flex: 0 0 40%
            width: 25px

    &__item, &__totals
        text-align: center

        .todos-juntos
            display: none

        .comprando-junto
            font-size: 0

            > .price
                &:before
                    display: block
                    color: var(--black-light)
                    content: 'Compre os 3 itens a partir de: '
                    font-weight: regular
                    font-size: 14px

                .price
                    font-weight: regular
                    font-size: 35px

        .economize
            background: none
            font-size: 0

            .price
                color: var(--green)
                font-weight: semibold
                font-size: 14px

                &:before
                    margin-right: 3px
                    content: 'economize'
                    font-weight: regular

        .price
            color: var(--blue)

    .btn-jointsales
        display: flex
        justify-content: center
        align-items: center
        height: 48px
        border-radius: 48px
        background: var(--green)
        font-weight: semibold
        font-size: 15px

    &__payments
        display: none

    @media (min-width: 569px)
        &__currentin
            display: block
            border-right: solid 1px #eaeaea
            border-bottom: 0

        &__currentin, &__item
            .thumb
                margin-right: 0
                width: 100%

        &__item
            + .jointsales__item
                &:before
                    top: 50%
                    left: 0
                    margin-top: -18px
                    margin-right: 0

    @media (max-width: 992px)
        &__title
            font-weight: regular
            font-size: 14px

    @media (min-width: 993px)
        &__title
            title()

            &:after
                margin-left: 5px
                content: 'no seu equipamento fotográfico'

        &__content
            display: grid
            grid-template-areas: 'current items'
            grid-template-columns: 1fr 3fr

        &__current
            padding-bottom: 0
            grid-area: current

        &__items
            grid-area: items

        &__row
            display: grid
            padding: 0
            grid-template-areas: 'list totals' 'list action'
            grid-template-columns: 2fr 1fr

        &__list
            grid-area: list

        &__totals
            padding: 20px
            border: solid 1px #dddddd
            border-bottom: 0
            border-radius: 20px 20px 0 0
            grid-area: totals

        &__action
            align-self: start
            margin-top: 0
            padding-top: 0
            padding-bottom: 20px
            border: solid 1px #dddddd
            border-top: 0
            border-radius: 0 0 20px 20px
            grid-area: action

            .btn-jointsales
                margin: 0 auto