.logo
    .header &
        img, svg
            height: 50px

    @media (max-width: 568px)
        .header &
            flex: 1
            min-width: 0

            a
                display: flex
                justify-content: center