.logo
    .header &
        img, svg
            height: 50px

    @media (max-width: 568px)
        .header &
            flex: 1
            margin-left: 10px
            min-width: 0

            a
                display: flex
                justify-content: center

            img, svg
                max-width: none
                max-height: 40px