.menu
    position: relative

    &__title
        display: flex
        justify-content: center
        align-items: center
        height: 50px
        color: color1_bg
        font-weight: bold
        font-size: 16px

        .ico
            margin-right: 10px
            width: 17px
            height: 12px

    @media (max-width: 992px)
        order: -1
        margin-left: 16px
        width: 44px

        &__configs
            display: none

        &__title
            display: none

    @media (min-width: 993px)
        category-block()

        z-index: 100
        background: #fff
        transition: all .2s ease-in-out

        .scrolling:not(.scrolling--up) &
            transform: translateY(-50px)

        &:before
            position: absolute
            top: 100%
            left: 0
            z-index: 10
            width: 100%
            height: 10px
            box-shadow: inset 0 4px 4px rgba(0, 0, 0, .05)
            content: ''

        &__container
            display: flex
            margin: 0 auto
            max-width: calc(100% - 32px)
            width: viewport

        &__configs
            flex: 1
            min-width: 0
