.modal
    &__close
        top: 0
        bottom: auto
        background: none
        box-shadow: none
        color: var(--black-light)

        &:hover
            background: none
            color: var(--black-light)

    &__box
        padding-top: 50px

#modal-cupom
    .modal
        &__close
            top: -15px
            right: -15px
            border-radius: 50%
            background: var(--red)
            color: #fff

        &__content
            padding-right: 0

    @media (min-width: 993px)
        .modal
            &__content
                padding: 30px