.modal-payments
    .std &
        &__title
            color: var(--black)
            font-weight: semibold
            font-size: 18px

        &__description
            padding-bottom: 15px
            color: #848484
            font-weight: 300
            font-size: 14px

            .sub
                text-decoration: line-through

            .dark
                color: var(--black)

        &__obs
            margin-top: 20px
            color: #aaaaaa
            font-size: 11px
            line-height: 1.6

            a
                color: #464646
                text-decoration: underline
                font-weight: regular