.mycart
    &__header
        a
            display: flex
            padding-top: 0
            padding-right: 12px

        .text
            order: -1
            max-width: 95px
            color: color1_bg
            font-weight: semibold
            font-size: 13px
            line-height: 1.1

        .ico
            width: 22px
            height: 26px

        .qtd
            position: absolute
            top: -5px
            right: 0
            display: flex
            justify-content: center
            align-items: center
            width: 21px
            height: 21px
            border-radius: 50%
            background: var(--red)
            color: var(--white)
            font-weight: bold
            font-size: 12px

    &__content
        display: none !important

    @media (max-width: 992px)
        margin-right: 10px
        margin-left: 10px !important

        &__header
            .text
                display: none

    @media (min-width: 993px)
        .header &
            margin-left: 40px