.mymenu
    .menu &
        flex: 1
        min-width: 0

        .offers
            a
                color: var(--red)
                font-size: 14px
                font-weight: bold

            .ico
                width: 24px
                height: 24px
                margin-right: 8px

        .li--0:not(:last-child)
            margin-bottom: 0

        .ul--0
            width: 100%
            display: flex
            justify-content: space-around
            align-items: center

        .a--0
            font-size: 14px
            font-weight: regular
            color: var(--black)
            height: 50px
            display: flex
            justify-content: center
            align-items: center

            &:hover
                color: color1_bg