.mymenu
    .menu &
        flex: 1
        min-width: 0

        .offers
            a
                color: var(--red)
                font-weight: bold
                font-size: 14px

            .ico
                margin-right: 8px
                width: 24px
                height: 24px

        .li--0:not(:last-child)
            margin-bottom: 0

        .ul--0
            display: flex
            justify-content: space-around
            align-items: center
            width: 100%

        .a--0
            display: flex
            justify-content: center
            align-items: center
            height: 50px
            color: var(--black)
            font-weight: regular
            font-size: 14px

            &:hover
                color: color1_bg