.newsletter
    margin-top: -16px
    padding: 15px 0
    background: color2_bg

    &__form
        display: flex
        flex-flow: row wrap
        margin: 0 auto
        max-width: calc(100% - 32px)
        width: viewport

    &__text
        flex: 0 0 100%

    &__title
        display: flex
        align-items: center
        color: color1_bg
        font-weight: semibold
        font-size: 20px

        .ico
            margin-right: 20px
            width: 34px
            height: 34px

    &__descriptions
        color: color1_bg
        font-weight: regular
        font-size: 15px
        line-height: 1.2

    &__submit, &__email
        padding: 0

    &__email
        flex: 1 1 calc(100% - 100px)
        min-width: 0

    &__submit
        flex: 0 0 100px

    &__btn
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 100px
        height: 40px
        border-radius: 0 40px 40px 0
        font-weight: regular
        font-size: 14px

    .input-text
        height: 40px
        border: 0
        border-radius: 40px 0 0 40px
        box-shadow: none !important

        &::placeholder
            color: #a0a0a0
            font-weight: regular
            font-size: 15px

    @media (max-width: 992px)
        padding: 20px 0

        &__title
            span
                line-height: 1.2

        &__descriptions
            padding: 15px 0 0
            line-height: 1.2

    @media (min-width: 993px)
        padding: 15px 0

        &__form
            flex-wrap: nowrap

        &__text
            display: flex
            flex: 1
            align-items: center
            margin: 0
            min-width: 0

        &__email
            flex: 0 1 355px

        &__descriptions
            flex: 0 1 380px
            padding: 0 40px
            min-width: 0