.parcelamento
    li
        border: 0

    .parcela
        &, .num, .valor
            color: #aaa
            font-weight: regular
            font-size: 18px

    .desconto
        padding: 0 20px
        color: var(--green)
        font-size: 18px

        .label
            display: none

    .s-juros
        background: none
        color: #aaa
        font-weight: regular
        font-style: normal
        font-size: 14px