.price-box
    .old-price
        .products &
            display: none

    .regular-price, .special-price
        .label
            font-size: 14px
            color: var(--black-light)
            display: block
            line-height: 1.2

            &:before
                content: 'A partir de'

            span
                display: none

        .price span
            font-size: 22px
            font-weight: semibold
            color: var(--blue)
            line-height: 1.3