.products
    .owl-pagination
        display: none

    &__sku
        padding: 10px 0 5px
        color: #737373
        font-weight: regular
        font-size: 11px

    .price-box-avista
        justify-content: center
        .label 
            display: none 
        .price 
            text-align: center
            span 
                color: var(--blue)
                font-weight: 600
                font-size: 1.38rem
                line-height: 1.3


    .menu &__item
        min-width: 0
        width: auto

    .btn-cart
        display: flex
        justify-content: center
        align-items: center
        padding: 0
        width: 100%
        height: 45px
        border-radius: 45px
        background: var(--green)
        font-weight: bold
        font-size: 14px

        &:hover
            background: var(--green)

    &__case
        padding: 15px
        border-radius: 4px
        box-shadow: none

    &__main
        text-align: center

    &__name
        display: block
        margin-bottom: 8px
        color: var(--black)
        font-weight: regular
        font-size: 13px

    .banana &
        padding: 40px 0

        .owl-wrapper-outer
            margin: -10px
            padding: 10px

        .owl-carousel
            position: static

        .price-box
            display: none

        .btn-cart
            margin: 15px auto
            max-width: 180px

    &__actions
        .out-of-stock &
            display: none !important

    @media (min-width: 993px)
        .btn-cart
            &:hover
                background: var(--green-dark)

        &__actions
            opacity: 0
            transition: all .2s ease-in-out

        &__header
            .product-image
                height: 205px
                object-fit: contain

        &__case
            border-radius: 10px

            &:hover
                box-shadow: inset 0 0 0 2px color2_bg

                .products__actions
                    opacity: 1

            .banana &
                margin: 10px

                .products__actions
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translateX(-50%) translateY(-50%)

                .btn-cart
                    width: 180px

            .banana &:hover
                box-shadow: 0 0 10px rgba(0, 0, 0, .2)

                .products__header
                    opacity: .5
