.products
    .owl-pagination
        display: none

    .menu &__item
        width: auto
        min-width: 0

    .btn-cart
        width: 100%
        height: 45px
        font-size: 14px
        font-weight: bold
        border-radius: 45px
        padding: 0
        display: flex
        justify-content: center
        align-items: center
        background: var(--green)

        &:hover
            background: var(--green)

    &__case
        box-shadow: none
        padding: 15px
        border-radius: 4px

    &__main
        text-align: center

    &__name
        display: block
        color: var(--black)
        font-size: 13px
        font-weight: regular
        margin-bottom: 8px

    .banana &
        padding: 40px 0

        .owl-wrapper-outer
            padding: 10px
            margin: -10px

        .owl-carousel
            position: static

        .price-box
            display: none

        .btn-cart
            max-width: 180px
            margin: 15px auto

    @media (min-width: 993px)
        .btn-cart
            &:hover
                background: var(--green-dark)

        &__actions
            opacity: 0
            transition: all 0.2s ease-in-out

        &__case
            border-radius: 10px

            &:hover
                box-shadow: inset 0 0 0 2px color2_bg

                .products__actions
                    opacity: 1

            .banana &
                margin: 10px

                .products__actions
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translateX(-50%) translateY(-50%)

                .btn-cart
                    width: 180px

            .banana &:hover
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

                .products__header
                    opacity: 0.5
