.product-rate
    .rating-box:before, .rating-box .rating:before
        font-size: 11px

    .amount
        display: inline-block
        font-size: 0

        .qtd
            color: #ccc
            font-size: 12px

            &:before
                content: ' ('

            &:after
                content: ') '
