.product-rate
    .rating-box:before, .rating-box .rating:before
        font-size: 11px

    .amount
        display: inline-block
        font-size: 0

        .qtd
            font-size: 12px
            color: #ccc

            &:before
                content: ' ('

            &:after
                content: ') '
