.reviews
    .review-summary
        justify-content: flex-start

    &__content
        display: flex
        flex-wrap: wrap

    &__resume, &__add, &__ratings
        box-shadow: none

    &__resume, &__add
        flex: 0 0 100%
        order: 1
        min-width: 0

    &__resume
        .subtitle
            display: none

    &__add
        input, textarea
            border-radius: 30px
            box-shadow: none

        .btn
            max-width: 133px
            border-radius: 30px
            background: color2_bg

        .subtitle
            font-size: 18px

    &__ratings
        flex: 0 0 100%
        order: 2

        .subtitle
            display: none

    &__list
        overflow: visible
        max-height: none
        height: auto
        color: #686c6f

        .std
            color: #686c6f

    @media (min-width: 569px)
        &__title
            title()

    @media (min-width: 993px)
        &__resume, &__add
            flex: 1
            order: 1
