.reviews
    .review-summary
        justify-content: flex-start

    &__content
        display: flex
        flex-wrap: wrap

    &__resume, &__add, &__ratings
        box-shadow: none

    &__resume, &__add
        flex: 0 0 100%
        order: 1
        min-width: 0

    &__resume
        .subtitle
            display: none

    &__add
        input, textarea
            border-radius: 30px
            box-shadow: none

        form
            margin: 0 auto
            max-width: 100%
            width: 300px

        .btn
            padding: 0
            max-width: 133px
            height: 37px
            border: 0
            border-radius: 30px
            background: color2_bg
            box-shadow: none
            font-weight: bold
            font-size: 13px

        .subtitle
            margin: 0 auto 10px
            max-width: 100%
            width: 300px
            color: #333e48
            font-weight: regular
            font-size: 18px

        .title
            display: none

        .form-list
            label
                color: #333e48
                font-weight: regular
                font-size: 14px

            .wide:first-child
                display: flex
                align-items: center

                label
                    margin: 0 5px 0 0

            .review-summary li
                margin: 0

    &__ratings
        flex: 0 0 100%
        order: 2

        .subtitle
            display: none

    &__list
        overflow: visible
        max-height: none
        height: auto
        color: #686c6f

        .std
            color: #686c6f

    @media (min-width: 569px)
        &__title
            title()

    @media (min-width: 993px)
        &__resume, &__add
            flex: 1
            order: 1
