.ruler
    display: flex
    justify-content: flex-start
    align-items: center
    color: var(--black)
    font-weight: regular
    font-size: 14px

    .ico
        margin-right: 10px
        width: 40px
        height: 40px
        color: color2_bg

    strong, span
        display: block
        line-height: 1.2

#banner__regua
    position: relative
    margin: -16px auto 0
    max-width: calc(100% - 32px)
    width: viewport

    &:after
        position: absolute
        top: 100%
        left: 50%
        width: 100vw
        height: 1px
        border-bottom: solid 1px var(--gray-dark)
        content: ''
        transform: translateX(-50%)
