.search
    &__button
        display: flex
        justify-content: center
        padding: 0
        width: 50px
        height: 42px
        border-radius: 0 4px 4px 0
        box-shadow: none
        align-itens: center

        .ico
            width: 33px
            height: 33px

    &__input
        &::placeholder
            color: var(--search-placeholder)
            font-weight: regular
            font-size: 14px

        &:focus::placeholder
            color: transparent

    @media (min-width: 569px)
        border-radius: 4px
        background: var(--white)

        .header &
            margin-left: 40px

        &__input
            height: 42px !important
            border: 0 !important
            border-radius: 4px 0 0 4px
            box-shadow: none

        &__button
            background: var(--white)

            .z-lupa, .z-zoom
                display: none

            .ico
                fill: color2_bg

            &:hover
                background: none

                .ico
                    fill: color1_bg

    @media (max-width: 568px)
        &__button
            background: none

            .z-search
                display: none

            .ico
                width: 22px
                height: 22px
                fill: color1_bg

            &:hover
                background: none

        .header &.on .search__input
            height: 65px
            border-radius: 0

        .header &__hide
            display: flex
            justify-content: center
            align-items: center
            height: 61px
