.showcase-super-kit
    position: relative
    left: 50%
    transform: translateX(-50%)
    width: 100vw
    background: url(marrom) repeat
    padding: 40px 0

    &__container
        position: relative
        width: viewport
        max-width: calc(100% - 32px)
        margin: 0 auto
        background: #fff
        border-radius: 20px
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)

    &__title
        font-size: 20px
        font-weight: bold
        color: color1_bg
        padding: 15px 0
        display: flex
        align-items: center
        box-shadow: inset 0 -2px 0 color2_bg

        .ico
            width: 39px
            height: 35px
            color: color2_bg
            margin-right: 10px

    &__descriptions
        font-size: 14px
        font-weight: semibold
        color: var(--black-light)

        strong
            color: var(--black)
            font-weight: semibold

    &__main
        a
            display: block
            font-size: 15px
            font-weight: regular
            color: var(--link)
            text-align: center
            padding: 15px

            span
                padding: 10px 0
                display: block

        img
            border-radius: 10px

    &__footer
        text-align: center
        background: var(--gray)
        border-radius: 0 0 20px 20px
        border-top: solid 1px var(--gray-dark)

        a
            height: 50px
            display: inline-flex
            align-items: center
            color: var(--link)
            font-size: 16px
            font-weight: regular

            .ico
                width: 22px
                height: 22px
                color: color2_bg
                margin-right: 10px

    &__obs
        font-size: 14px
        font-weight: lighten
        color: color2_bg
        padding: 40px 20px 0
        width: viewport
        max-width: calc(100% - 32px)
        margin: 0 auto
        line-height: 1.8

    .owl
        &-next, &-prev
            .ico
                width: 8px
                height: 14px
                color: var(--black)

    @media (max-width: 992px)
        &__title
            justify-content: center

        &__descriptions
            display: none

        .owl
            &-next, &-prev
                background: #fff
                border-radius: 0
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
                width: 30px
                height: 50px

            &-next
                right: 10px

            &-prev
                left: 10px

    @media (min-width: 993px)
        .owl-carousel
            position: static

        &__header
            display: flex
            align-items: center
            border-bottom: solid 1px var(--gray-dark)
            margin: 0 30px

        &__main
            padding: 30px

            .products
                &__item
                    padding: 10px 15px

                &__case
                    &:hover
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

        &__descriptions
            padding: 0 120px 0 20px
            flex: 1
            min-width: 0

        .owl-wrapper-outer
            padding: 10px
            margin: -10px

        .owl
            &-next, &-prev
                position: static
                width: 50px
                height: 50px
                background: var(--gray-dark)
                margin: 0 2px

                &:hover
                    background: color2_bg

            &-buttons
                position: absolute
                right: 30px
                top: 10px
                display: flex
