.showbreadcrumb
    line-height: 1
    margin-top: 50px

    &__item
        display: inline-block
        vertical-align: middle

        &, a
            color: var(--black-light)
            font-size: 22px
            font-weight: 300

        &:first-child
            &, a
                font-size: 22px
                color: var(--blue)
                font-style: normal

    &__sep
        color: var(--blue)
        padding: 0 10px
        display: inline-block
        vertical-align: middle

        .ico
            width: 11px
            height: 11px

    @media (max-width: 992px)
        text-align: center

        &__item
            max-width: calc(100% - 35px)

            &:last-child
                display: block
                padding-top: 10px

    @media (min-width: 993px)
        display: flex
        justify-content: flex-start
        align-items: flex-end