.showcase-super-kit
    position: relative
    left: 50%
    padding: 40px 0
    width: 100vw
    background: url(marrom) repeat
    transform: translateX(-50%)

    &__container
        position: relative
        margin: 0 auto
        max-width: calc(100% - 32px)
        width: viewport
        border-radius: 20px
        background: #fff
        box-shadow: 0 0 5px rgba(0, 0, 0, .4)

    &__title
        display: flex
        align-items: center
        padding: 15px 0
        box-shadow: inset 0 -2px 0 color2_bg
        color: color1_bg
        font-weight: bold
        font-size: 20px

        .ico
            margin-right: 10px
            width: 39px
            height: 35px
            color: color2_bg

    &__descriptions
        color: var(--black-light)
        font-weight: semibold
        font-size: 14px

        strong
            color: var(--black)
            font-weight: semibold

    &__main
        a
            display: block
            padding: 15px
            color: var(--link)
            text-align: center
            font-weight: regular
            font-size: 15px

            span
                display: block
                padding: 10px 0

        img
            border-radius: 10px

    &__footer
        border-top: solid 1px var(--gray-dark)
        border-radius: 0 0 20px 20px
        background: var(--gray)
        text-align: center

        a
            display: inline-flex
            align-items: center
            height: 50px
            color: var(--link)
            font-weight: regular
            font-size: 16px

            .ico
                margin-right: 10px
                width: 22px
                height: 22px
                color: color2_bg

    &__obs
        margin: 0 auto
        padding: 40px 20px 0
        max-width: calc(100% - 32px)
        width: viewport
        color: color2_bg
        font-weight: lighten
        font-size: 14px
        line-height: 1.8

    .owl
        &-next, &-prev
            .ico
                width: 8px
                height: 14px
                color: var(--black)

    @media (max-width: 992px)
        &__title
            justify-content: center

        &__descriptions
            display: none

        .owl
            &-next, &-prev
                width: 30px
                height: 50px
                border-radius: 0
                background: #fff
                box-shadow: 0 0 5px rgba(0, 0, 0, .1)

            &-next
                right: 10px

            &-prev
                left: 10px

    @media (min-width: 993px)
        .owl-carousel
            position: static

        &__header
            display: flex
            align-items: center
            margin: 0 30px
            border-bottom: solid 1px var(--gray-dark)

        &__main
            padding: 30px

            .products
                &__item
                    padding: 10px 15px

                &__case
                    &:hover
                        box-shadow: 0 0 10px rgba(0, 0, 0, .2)

        &__descriptions
            flex: 1
            padding: 0 120px 0 20px
            min-width: 0

        .owl-wrapper-outer
            margin: -10px
            padding: 10px

        .owl
            &-next, &-prev
                position: static
                margin: 0 2px
                width: 50px
                height: 50px
                background: var(--gray-dark)

                &:hover
                    background: color2_bg

            &-buttons
                position: absolute
                top: 10px
                right: 30px
                display: flex
