.cms-faq
    .breadcrumb
        position: relative
        z-index: 10

        &__item, &__last, &__sep
            &, a
                color: #fff
                font-size: 12px

.faq
    padding-bottom: 50px

    &__header
        position: relative
        left: 50%
        margin-top: -50px
        padding: 60px 0
        width: 100vw
        background: color1_bg
        transform: translateX(-50%)

    &__form
        margin: 0 auto
        max-width: calc(100% - 32px)
        width: 625px
        text-align: center

        &-title
            color: color2_bg
            font-weight: medium
            font-size: 21px

        &-input
            position: relative
            display: none
            margin: 10px 0
            box-shadow: 0 0 0 5px rgba(255, 255, 255, .1)

            input
                padding-right: 60px
                color: #a0a0a0
                font-weight: regular
                font-size: 14px

            button
                position: absolute
                top: 0
                right: 0
                bottom: 0
                width: 50px
                background: none
                box-shadow: none
                color: color2_bg

                &:hover .ico
                    fill: color2_bg

    &__menu
        position: relative
        left: 50%
        padding: 20px 0
        width: 100vw
        border-bottom: solid 1px #e5e5e5
        transform: translateX(-50%)

        .ico
            width: 50px
            height: 50px

        &-list
            display: flex
            justify-content: space-between

        &-item
            flex: 1
            margin: 0 10px
            min-width: 0

            a
                display: block
                padding: 16px
                width: 100%
                border: solid 1px #e5e5e5
                border-radius: 4px
                color: var(--black)
                text-align: center

                &:hover
                    box-shadow: 0 0 0 2px color2_bg, 0 5px 0 color2_bg

            span
                display: block
                color: #737373
                font-weight: regular
                font-size: 14px

    &__container
        margin: 0 auto
        max-width: calc(100% - 32px)
        width: viewport

    &__questions
        margin: 60px 0 20px
        text-align: center

        p
            margin: 0
            color: #737373
            font-weight: regular
            font-style: italic
            font-size: 14px
            line-height: 1.2

            strong
                color: var(--black)

    &__title-blue
        margin-bottom: 10px
        color: var(--blue)
        font-size: 21px

    &__grids
        margin: 40px -10px

    &__grid
        margin: 10px !important
        padding: 20px
        border-radius: 3pxz
        background: #f9f9f9
        color: #747474
        font-weight: regular
        font-size: 14px
        line-height: 1.5

        &-title
            margin-bottom: 15px
            color: #434343
            font-weight: bold
            font-size: 16px

        &-text
            padding-bottom: 40px

    &__normal p
        font-style: normal

    &__tabs
        margin-top: 40px
        border: solid 1px #dadada
        border-radius: 3px

    &__tab
        display: flex
        justify-content: space-between
        align-items: center
        padding: 15px 20px
        cursor: pointer

        &:not(:first-child)
            border-top: solid 1px #dadada

        .ico
            width: 34px
            height: 34px
            color: #dadada

        &.on
            .ico
                color: color2_bg

            + .faq__content
                display: block

    &__content
        display: none
        padding: 20px
        border-top: solid 1px #dadada
        color: #747474
        font-weight: regular
        font-size: 14px

    &__help
        margin: 20px 0
        padding: 50px 20px
        background: #f9f9f9
        text-align: center

        a
            display: flex
            justify-content: center
            align-items: center
            margin: 10px auto
            max-width: calc(100% - 32px)
            width: 230px
            height: 45px
            border-radius: 45px
            background: color2_bg
            color: #000
            text-transform: uppercase
            font-weight: bold
            font-size: 14px

        &-title
            color: #434343
            font-weight: semibold
            font-size: 24px

        &-description
            color: #747474
            font-weight: regular
            font-size: 14px

@media (min-width: 993px)
    .faq
        .owl-wrapper-outer
            margin-top: -10px
            margin-bottom: -10px
            padding-top: 10px
            padding-bottom: 10px

        &__menu-list
            padding: 0 100px

        &__grids
            display: flex
            flex-flow: row wrap

        &__grid
            flex: 1 1 calc(50% - 40px)
            padding: 30px
            min-width: 0