.opc
    .wrapper
        padding-top: 0

    .header-container
        margin: 0 0 20px
        background: color2_bg

        .header
            justify-content: space-between
            padding: 15px

            &:after
                margin-left: 20px
                width: 192px
                height: 47px
                background: url(security) no-repeat center
                background-position: center right
                background-size: contain
                content: ''

    .footer
        h3
            color: #666666
            font-weight: regular
            font-size: 16px

    @media (max-width: 992px)
        .header-container
            .header
                &:after
                    flex: 1
                    min-width: 0